<% @restaurants.each do |restaurant| %>
  <div class="col-xs-18 col-sm-6 col-md-3">
    <div class="thumbnail">
      <%= image_tag restaurant.image_url %>

      <div class="caption">
        <h4> <%= restaurant.name %> </h4>
        <p><%= restaurant.category %></p>
        <p><%= restaurant.address %></p>
        <div class="rating">
          <p>
            Average Rating:
            <%= restaurant.reviews.map(&:rating).sum / restaurant.reviews.count %>
          </p>
        </div>
        <%= link_to "Add a review", new_restaurant_review_path(restaurant), class: "btn btn-warning", remote: true %>
        <%= link_to "More info", restaurant_path(restaurant), class: "btn btn-warning", remote: true %>
      </div>
    </div>
  </div>

<div id="review-modal" class="modal fade">
  <div class="modal-dialog">
    <div id="inner-review-modal" class="modal-content"></div>
  </div>
</div>

<% end %>
